.page{
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at top, 
      rgba(158,182,250, 1) 10%, 
      rgba(207,241,239, 1) 40%, 
      rgba(255,228,134) 60%, 
      rgba(255, 223, 186, 1) 70%);
  padding: 0 10rem 0 10rem; 
}

.description {
  display: block;
  grid-column: span 12;
  font-weight: bold;
  text-transform: capitalize;
  font-size: var(--t-small);
  margin: 0 36px 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: flex-start;
  grid-column-gap: 10px;
  min-width: 500px;
}

@media (max-width: 844px) {
  .grid {
    margin: 0;
    min-width: auto;
  }
}

.pageName {
  color: var(--c-off-black); 
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 6rem 0 0rem 0 ;
  font-size: 48px;  
}

.title {
  display: inline-block;
  font-weight: 600;
  /* margin: 80px 36px 0px 36px; */
  padding: 80px 36px 0px 36px;
  text-transform: capitalize;
  font-size: var(--t-large);
  font-family: "Pixer", sans-serif;
}

.fluff{
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin-bottom: 2rem;
}
