.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 0.1rem solid var(--c-white);
    z-index: 50;
    position: relative;
    background-color: var(--c-black-80);
}

.logo {
    height: 3rem;
}


.link {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white; 
}

.link:not(:last-child) {
    margin-right: 1.5rem;
}

.links .btn {
    display: none;
}

.btn {
    padding: 8px 20px;
    border: 0.1rem solid var(--c-white);
    border-radius: 60px;
}

@media (max-width: 812px) {
    .links {
        display: none;
    }

    .btn {
        display: none;
    }

    .links .btn {
        display: block;
    }
}